
body{
    background: #efefef;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBer-inner{
    padding: 0 16px;

}

.topNavBar nav{
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color:#E6686A;

}
.topNavBar .logo .card {
    color: #9A9DA2;
}
.banner{
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color:rgba(0, 0, 0, 0.4);
}
.useCard{
    border: 1px solid red;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.useCard .welcome{
    background: #e6686a;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    /* width: 70px; *新手用法/
    /* height: 29px; */
    /* line-height: 29px; */
    /* text-align: center; */
}
.useCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    /* border-left-color: black; */
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}